<!DOCTYPE html>
<html>
<head>

    <title>To-Do List</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    


</head>

<body>

<div id="container">
    <div class="text-center">

    <h1>To-Do List</h1>
    
    <ol class="list-group">
        {% for task in tasks %}
            <li>{{ task }}</li>
            <a href="/delete_task/{{ loop.index0 }}">Delete</a>
        {% endfor %}
    </ol>
    <form method="POST" action="/add_task">
        <input type="text" name="task" placeholder="Add a new task" required>
        <button type="submit">Add</button>
    </form>

    </div>
</div>

</body>
</html>